@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ingrid+Darling&family=Playwrite+AU+SA:wght@100..400&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Mulish", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Muli", sans-serif;
  color: rgb(var(--foreground-rgb));
}
.container{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  /* background-image: url('../public/assets/images/'); */
}
.font-cursive{
  font-family: "Monallesia",sans-serif;
  line-height:100px;
}
.bg-description-image{
  position: relative;
  width: 70%;
  height: 500px;
  background-color: #86a0b6;
  border: 20px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}
.bg-description-image-2{
  position: absolute;
  top: 0px;
  transform: rotate(10deg);
  width: 100%;
  height: 500px;
  background-color: #86a0b6;
  border: 20px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}
.bg-contact{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('../public/assets/images/bg-2.jpg');
  background-size: cover;
  z-index: 1;
  border-radius: 5px;
}
.bg-contact::before{
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00315f;
    content: "";
    opacity: 0.4;
    z-index: -1;
    border-radius: 2px;
}
.shadow-round{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-form{
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
  background-color: #86a0b6;
  border: 20px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000; /* Ensure it's above other elements */
}
@media (max-width:952px) {
  .bg-description-image{
    width: 100%;
  }
  .contact-form{
    width: 90%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
